@font-face {
  font-family: "iconfont"; /* Project id 3832329 */
  src: url('https://at.alicdn.com/t/c/font_3832329_6qcpxzdn7dk.woff2?t=1677223990742') format('woff2'),
       url('https://at.alicdn.com/t/c/font_3832329_6qcpxzdn7dk.woff?t=1677223990742') format('woff'),
       url('https://at.alicdn.com/t/c/font_3832329_6qcpxzdn7dk.ttf?t=1677223990742') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhifubaozhifu:before {
  content: "\e635";
}

.icon-weixinzhifu:before {
  content: "\e639";
}

.icon-wxbdingwei:before {
  content: "\e624";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-yuancha:before {
  content: "\e686";
}

.icon-gouwuche:before {
  content: "\e638";
}

.icon-zuojiantou:before {
  content: "\e64b";
}

.icon-aixin1:before {
  content: "\e85c";
}

.icon-aixin:before {
  content: "\e65d";
}

.icon-mima:before {
  content: "\e620";
}

.icon-shouji:before {
  content: "\e6c7";
}

.icon-xinxi:before {
  content: "\e763";
}

.icon-youjiantou:before {
  content: "\e62a";
}

.icon-quanbudingdan:before {
  content: "\e600";
}

.icon-wodeshoucang:before {
  content: "\e629";
}

.icon-dizhi:before {
  content: "\e652";
}

.icon-lianxiwomen:before {
  content: "\e634";
}

.icon-shezhi1:before {
  content: "\e8b9";
}

.icon-guanyuwomen:before {
  content: "\e601";
}

.icon-daifukuan:before {
  content: "\e704";
}

.icon-yiwancheng:before {
  content: "\e608";
}

.icon-daishouhuo:before {
  content: "\e616";
}

.icon-daifahuo:before {
  content: "\e654";
}

.icon-xiaogouzi:before {
  content: "\e6c0";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-shezhi-copy:before {
  content: "\e8b8";
}
